<h3>Abonement abgeschlossen!</h3>

<ul>
  <li><b>Email:</b> {{model.email}}</li>
  <li><b>Vorname:</b> {{model.vorname}}</li>  
  <li><b>Nachname:</b> {{model.nachname}}</li>
  <li><b>Geschlecht:</b> {{model.geschlecht}}</li>
  <li><b>Privacy:</b> {{model.privacy}}</li>
</ul>
{{outlet}}